<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h3>상품 자료(Django 사용)</h3>
		<a href="/sangpum/insert">상품 추가</a><p/>
		<table border="1" style="border-collapse: collapse; text-align: center; width: 600px;">
			<tr style="background-color: cyan;">
				<th>코드</th><th>상품명</th><th>수량</th><th>단가</th><th>비고</th>
			</tr>
			{% if sangpums %}
				{% for s in sangpums %}
				<tr>
					<td>{{s.code}}</td>
					<td>{{s.sang}}</td>
					<td>{{s.su}}</td>
					<td>{{s.dan}}</td>
					<td>
						<a href="/sangpum/update?code={{s.code}}">수정</a> /
						<a href="/sangpum/delete?code={{s.code}}">삭제</a>
					</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="5">자료가 없습니다</td></tr>
			{% endif %}
		</table>
	</body>
</html>