<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script type="text/javascript">
			window.onload = function(){
				document.getElementById("btnSubmit").onclick = function(){
					chkData();
				}
			}
			
			function chkData(){
				if(frm.code.value === '' || frm.sang.value === ''){
					alert('자료를 입력해주세요')
					return
				} 
				frm.submit()
			}
		</script>
	</head>
	<body>
		<h3>상품 수정</h3>
		<form action="/sangpum/updateok" method="post" name="frm"> {% csrf_token %}
			<table style="text-align:center;">
				<tr>
					<td style="width: 20%;">코드</td>
					<td><input type="text" name="code" style="width: 100%;" readonly="readonly" value="{{sang_one.code}}"></td>
				</tr>
				<tr>
					<td style="width: 20%;">상품명</td>
					<td><input type="text" name="sang" style="width: 100%;" value="{{sang_one.sang}}"></td>
				</tr>
				<tr>
					<td style="width: 20%;">수량</td>
					<td><input type="text" name="su" style="width: 100%;" value="{{sang_one.su}}"></td>
				</tr>
				<tr>
					<td style="width: 20%;">단가</td>
					<td><input type="text" name="dan" style="width: 100%;" value="{{sang_one.dan}}"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<input type="submit" value="수정하기" >
						<input type="button" value="이전화면" onclick="history.back()">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>