<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#btnOk').click(function(){
					$('#showData').empty()
					
					$.ajax({
						url:'calldb',
						type:'get',
						dataType:'json',
						success:function(data){
							let count = 0
							let str = "<table>"
							str += "<tr><th>code</th><th>sang</th><th>su</th><th>dan</th></tr>"
							$.each(data, function(ind, entry){
								str += "<tr>"
								str += "<td>" + entry['code'] + "</td>"
								str += "<td>" + entry['sang'] + "</td>"
								str += "<td>" + entry['su'] + "</td>"
								str += "<td>" + entry['dan'] + "</td>"
								str += "</tr>"
								count += 1
							})
							
							str += "</table>"
							$('#showData').append(str)
							$('#showData').append("건수 : " + count)
						},
						error:function(){
							$('#showData').text('Error')
						}
					})
				})
			})
		</script>
	</head>
	<body>
		<button id="btnOk">ajax</button><p/>
		<div id="showData"></div>
	</body>
</html>