@charset "UTF-8";
button {
	background: blue;
	color: white;
	border: 0 solid;
	width: 100px;
	height: 25px;
	padding: 5px;
	margin: .5em;
	position: relative;
}

table {
	width: 60%;
	text-align: center;
}

th {background: cyan;}

.msg{color: red;}
