<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/static/css/test.css">
		<script type="text/javascript" src="/static/js/test.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$("#myImg").click(function(){
					apple()
				});
			})
		</script>
	</head>
	<body>
		<h1><span style="font-family: '돋움체'">html</span> 관련 자원 처리</h1>
		<img src="/static/images/aaa.png" id="myImg" />
	</body>
</html>