<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectDataAll" resultType="dto">
		select * from membertab
	</select>
	
	<!--  재사용 구문 별도 작성 -->
	<sql id="ref1">id, name, passwd, reg_date</sql>
	<sql id="ref2">from membertab where id=#{id}</sql>
	
	<select id="selectDataPart" parameterType="string" resultType="dto" statementType="PREPARED">
		select 
		<include refid="ref1" />
		<include refid="ref2" />
	</select>
	
	<insert id="insertData" parameterType="form">
		insert into membertab
		values(#{id}, #{name}, #{passwd}, now())
	</insert>
	
	<update id="upData" parameterType="form">
		update membertab set name=#{name} where ${colname}=#{id}
	</update>
	
	<delete id="delData" parameterType="string">
		delete <include refid="ref2" />
	</delete>
</mapper>